<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Text Mining</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Text Mining</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading"><strong>Abstract Jurnal Komputasi</strong></h3>
                <p>Data ini di ambil dari jurnal komputasi FMIPA Unila. Kelas keilmuan ditentukan dengan vote 3 dosen jurusan ilmu komputer diantaranya sebagai berikut</p>
                <ul>
                    <li>Favorisen R. Lumbanraja S.Kom., M.Si., Ph.D</li>
                    <li>Ardiansyah, S.Kom., M.Kom</li>
                    <li>Dr. rer. nat. Akmal Junaidi, M.Sc.</li>
                </ul>
                <hr>
                <p class="mb-0">Sumber data : <a href="https://jurnal.fmipa.unila.ac.id/komputasi">https://jurnal.fmipa.unila.ac.id/komputasi</a></p>
            </div>
            <hr>
            <a href="/add-abstract" class="btn btn-primary">Tambah Data</a>
            <a href="/kelas/" class="btn btn-success">Kelas Keilmuan</a>
            <div class="table-resposive pt-3">
                <table class="table table-striped table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>No</th>
                            <th>Kelas Keilmuan</th>
                            <th>Abstract</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for abstrak in abstracts %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ abstrak.kelas.nama_kelas }}</td>
                            <td>{{ abstrak.abstract }}</td>
                            <td>
                                <a href="/edit-abstract/{{ abstrak.id }}" class="btn btn-warning btn-sm"> Edit</a>
                                <p></p>
                                <a href="/hapus-abstract/{{ abstrak.id }}" class="btn btn-danger btn-sm"> Hapus</a>
                                <p></p>
                                <a href="/preproses/{{ abstrak.id }}" class="btn btn-success btn-sm"> Preproses</a>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>